/*Universal Styles*/
body {
  margin: 0;
  font-family: georgia;
  font-size: 17px;
  color: black;
}

a {
  color: black;
}

h2 {
margin-top: 0;
margin-bottom: 0;
font-family: georgia;
font-size: 30px;
font-weight: bold;
font-style: normal;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/*Universal Styles - News Stories */
.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.stories .text-content {
  height: 250px
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.narrative {
  margin-top: 16px;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  border: solid black 1px;
  color: white;
  text-align: center;
}

/* header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 80px;
  border-bottom: solid black 1px;
  font-family: verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  padding-left: 30px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: mediumaquamarine;
}

header nav {
  padding-right: 40px;
}

/*Main Content Container*/
.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  border: solid black 1px;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/*large column*/

.column.large {
  width: 630px;
  border: solid black 1px;
}

.lead-story .image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
  margin-top: 0px;
  font-size: 40px;
  text-align: left;
}

.lead-story .image-content span {
  margin-left: 20px;
}


/*Medium Column*/

.column.medium {
  width: 300px;
  border: solid black 1px;
}

.column.small {
  width: 240px;
  border: 1px solid black;
}

p {
  font-family: georgia;
  font-size: 17px;
  color: black;
  display: block;
}

.text-block {
  border: solid black 1px;
}

.image.lead-story {
  font-family: georgia;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cat-ceo.image-block {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

.cookie.image-block {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png);
  height: 240px;
}

.cameraman.image-block {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.fall.image-block {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.news-bites h3 {
font-size: 16px;
font-weight: bold;
margin-bottom: 41px;
text-align: center;
}

.bite {
  display: block;
  background-color: whitesmoke;
  font-family: verdana;
  font-size: 12px;
  border-bottom: 1px solid black;
}
